<a href="https://colab.research.google.com/github/junheeyoon/alps/blob/master/csv_unzip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

# 현재 경로 확인
import os
print(os.path.abspath(os.curdir))

# Root 경로 설정
import os
os.chdir('/content/drive/MyDrive/데이터분석')

Mounted at /content/drive
/content

In [30]:
import os

count = 0
for (path, dir, files) in os.walk("./alps/data/alps"):
    for filename in files:
        ext = os.path.splitext(filename)[-1]
        if ext == '.zip':
            
            #print(filename.replace('zip','csv'))
            #count += 1
            #print("%s/%s" % (path, filename))
            new_text = filename.split('_')[1] + '_'+ filename.split('_')[2]
            all_path = path + '/' + filename
            if os.path.exists('./alps/data/' + new_text.replace('zip','csv')):
                count += 1
            else:
                #count += 1
                #print(new_text)
                #print('./alps/data/' + new_text.replace('zip','csv'))
                import zipfile
                print(all_path)
                if all_path == './alps/data/alps/20190805181554_OZ_310720191000.zip':
                    continue
                fantasy_zip = zipfile.ZipFile(all_path)
                fantasy_zip.extractall('./alps/data/')
            
                fantasy_zip.close()
print(count)

./alps/data/alps/20190805181554_OZ_310720191000.zip
315

In [35]:
import pandas as pd
path_to_data = './alps/data/OZ_280820191500.csv'

df = pd.read_csv(path_to_data, encoding='cp949')

# DataFrame type 확인
df.head()

#df.describe()

              id  ... inbound_flight_duration
0  1404956139591  ...                    1530
1  1404956139592  ...                    2145
2  1404956139593  ...                    2140
3  1404956139594  ...                    1230
4  1404956142574  ...                    1095

[5 rows x 40 columns]